@use '../../inc/variables' as *;

.block--contact {
	padding: 4rem 0;

	.panel {
		padding: 1.6em var(--container-padding);
		border-radius: 8px;
		background-color: rgba(255, 255, 255, 0.05);
	}

	.centers--wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
		gap: 1rem;
	}


	.block--contact--wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
		align-items: start;

		@media screen and (max-width: $breakpoint-md) {
			grid-template-columns: 1fr;
		}
	}

	.block--contact__infos {
		.block--contact__subtitle {
			margin-bottom: 1rem;
			//color: var(--color-primary);
		}

		.block--contact__secretariat {
			margin: 2rem 0;
		}

		.block--contact__item {
			display: flex;
			align-items: center;
			gap: 0.75rem;
			margin-bottom: 0.5rem;

			i {
				//color: var(--color-primary);
				margin-top: 0.25rem;
			}

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.block--contact__centers {
			.block--contact__center {
				.block--contact__center-name {
					font-size: 1rem;
					font-weight: 600;
					margin-bottom: 0.5rem;
				}
			}
		}
	}

	.block--contact__map {
		.block--contact__map-image {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 8px;
		}
	}
}
