.text-center {
	text-align: center;
}

.container-small{
	max-width: var(--container-small);
}

#content > .container > .contentify-parent-block {
	margin-left: var(--padding-negative);
	margin-right: var(--padding-negative);
}