$breakpoint-xs: 576px;
$breakpoint-sm: 740px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1279px;
$breakpoint-xl: 1520px;

%hidden-link {
	text-decoration: none;
	color: inherit !important;

	&:hover {
		text-decoration: none;
		color: inherit !important;
	}
}

:root {
	// Couleurs de base
	--color-primary: var(--wp--preset--color--primary);
	--color-primary-light: var(--wp--preset--color--primary-light);
	--color-secondary: var(--wp--preset--color--secondary);
	--color-secondary-light: var(--wp--preset--color--secondary-light);
	--color-black: var(--wp--preset--color--black);
	--color-gray-text: var(--wp--preset--color--gray-text);
	--color-white: var(--wp--preset--color--white);

	// Typographie
	--font-family-base: var(--wp--preset--font-family--base);
	--font-family-title: var(--wp--preset--font-family--title);
	--font-family-button: var(--wp--preset--font-family--button);

	--container-max-width: calc(1280px + (var(--container-padding) * 2));
}
